{% extends 'base.html.twig' %}

{% block title %}Accueil | LouezMieux.
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block content %}
	<main>
		<div class="photoFond">

			<img src="../logo/furniture-998265_1920.jpeg">
		</div>

		<h1>Annonces les plus récentes</h1>

		<section class="annonces">
			<div class="container1">

				<div class="card">

					<img class="image" src="../logo/bathroom-3563272_1920.jpeg" alt="photo de logement">

				</div>
				<div class="card">

					<img class="image" src="../logo/bedroom-1940168_1920.jpeg" alt="photo de logement">

				</div>
				<div class="card">

					<img class="image" src="../logo\home-2486092_1920.jpeg" alt="photo de logement">

				</div>

			</div>
			<div class="container2">

				<div class="card">

					<img class="image" src="../logo\kitchen-living-room-4043091_1920.jpeg" alt="photo de logement">

				</div>
				<div class="card">

					<img class="image" src="../logo\living-room-1523480_1920.jpeg" alt="photo de logement">

				</div>
				<div class="card">

					<img class="image" src="../logo\vecteezy_interior-of-a-bathroom-with-a-sea-view-in-3d-rendering_2074164.jpg" alt="photo de logement">

				</div>

			</div>
		</section>
		<section class="valeurs">
			<h2>Nos valeurs</h2>
			<div class="container3">

				<div class="nosValeurs">
					<h3>Confiance</h3>
					<p>A claram externi fertilitate duae ipso et tanta instructam nullius mari templo navem indigenis fundamento inter urbes a tanta autem faciunt carinae insignis instructam tanta crebra aedificet et onerariam indigenis.
					</p>

				</div>
				<div class="nosValeurs">
					<h3>Confiance</h3>
					<p>A claram externi fertilitate duae ipso et tanta instructam nullius mari templo navem indigenis fundamento inter urbes a tanta autem faciunt carinae insignis instructam tanta crebra aedificet et onerariam indigenis.
					</p>

				</div>
				<div class="nosValeurs">
					<h3>Confiance</h3>
					<p>A claram externi fertilitate duae ipso et tanta instructam nullius mari templo navem indigenis fundamento inter urbes a tanta autem faciunt carinae insignis instructam tanta crebra aedificet et onerariam indigenis.
					</p>


				</div>

			</div>

		</section>

	</main>
	<button class="scrollToTopBtn">TOP</button>
{% endblock %}
{% block js %}
	<script src="{{ asset('js/listing-posting.js') }}"></script>
{% endblock %}
