{% extends 'base.html.twig' %}

{% block title %}Accueil | LouezMieux.
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block content %}
	<main>
		<div class="photoFond">

			<img src="../logo/furniture-998265_1920.jpeg">
		</div>

		<h1>Annonces les plus récentes</h1>

		<section class="annonces">
			<div class="container1">

				<div class="card">

					<img class="image" src="../logo/bathroom-3563272_1920.jpeg" alt="photo de logement">

				</div>
				<div class="card">

					<img class="image" src="../logo/bedroom-1940168_1920.jpeg" alt="photo de logement">

				</div>
				<div class="card">

					<img class="image" src="../logo\home-2486092_1920.jpeg" alt="photo de logement">

				</div>

			</div>
			<div class="container2">

				<div class="card">

					<img class="image" src="../logo\kitchen-living-room-4043091_1920.jpeg" alt="photo de logement">

				</div>
				<div class="card">

					<img class="image" src="../logo\living-room-1523480_1920.jpeg" alt="photo de logement">

				</div>
				<div class="card">

					<img class="image" src="../logo\vecteezy_interior-of-a-bathroom-with-a-sea-view-in-3d-rendering_2074164.jpg" alt="photo de logement">

				</div>

			</div>
		</section>
		<section class="valeurs">
			<h2>Nos valeurs</h2>
			<div class="container3">
				<div class="nosValeurs">
					<h3>Confiance</h3>
					<p> La confiance que vous nous accordez est primordiale. C’est une responsabilité qui compte à nos yeux, et qui nous pousse à vous apporter le meilleur de nous-mêmes
						dans toutes les missions que vous nous confierez. Nous respectons nos engagements car la qualité de notre service nous tient particulièrement à coeur.
					</p>

				</div>
				<div class="nosValeurs">
					<h3>Innovation</h3>
					<p>Chaque jour, nos équipes techniques cherchent à innover et améliorer continuellement l'expérience de navigation du site
						 pour développer des solutions plus pertinentes et adaptées aux évolutions dans les pratiques de nos utilsateurs.
						 Au quotidien, nous faisons preuve d’agilité pour garantir une longueur d'avance sur nos concurrents.
					</p>

				</div>
				<div class="nosValeurs">
					<h3>Excellence</h3>
					<p>C’est pour nous une des valeurs clés de notre démarche, qui se traduit par une volonté sans faille d’apporter 
						en permanence le meilleur service possible, de rechercher sans cesse à nous améliorer, de maîtriser le moindre détail, 
						et d’être exigeant envers nous-mêmes, avec nos collaborateurs et avec nos clients.
					</p>
				</div>

			</div>

		</section>

	</main>
	<button class="scrollToTopBtn">TOP</button>
{% endblock %}
{% block js %}
	<script src="{{ asset('js/listing-posting.js') }}"></script>
{% endblock %}
