{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    h1{ margin: 2em auto; max-width: 800px; width: 95%;text-align:center; font: 20px/1.5 Monserrat; }

</style>

   <div class="container">
         <h1>Annonces les plus récente</h1>
            <div class="card-group mb-5">
                <div class="card">
                    <div class="card-body">
                       <img src="">
                    </div>
                    <div class="card-footer">description</div>
                </div>
                <div class="card">
                    <div class="card-body">
                       <img src="">
                    </div>
                    <div class="card-footer">description</div>
                </div>
                 <div class="card">
                    <div class="card-body">
                       <img src="">
                    </div>
                    <div class="card-footer">description</div>
                </div>
            </div>
            
              <div class="card-group mb-5">
                <div class="card">
                    <div class="card-body">
                       <img src="">
                    </div>
                    <div class="card-footer">description</div>
                </div>
                <div class="card">
                    <div class="card-body">
                       <img src="">
                    </div>
                    <div class="card-footer">description</div>
                </div>
                 <div class="card">
                    <div class="card-body">
                       <img src="">
                    </div>
                    <div class="card-footer">description</div>
                </div>
            </div>
{% endblock %}
