<h1>Hello! Merci de bien vouloir confirmer votre adresse mail</h1>

<p>
	Merci de bien vouloir confirmer votre adresse mail en cliquant sur le lien ci-dessous:
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirm my Email</a>.
		    Ce lien expirera dans:
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	A bientôt!
</p>
