

body{
    background-color: #525252;
}
.container{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-left: 60px;
    width: 550px;
    height: 1500px;
    display: flex;
    justify-content: center;
    background-color: #CCCCCC;
    
}
h1{
    margin-top: 60px;
    color:white;
    text-align: center;
}

.form-submit{
    width: 200px;
    color: white;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-color: #013376;
    border-radius: 10px;
    border-color: black;
} 