 h1 {

     color: white;
     font-family: 'Montserrat', sans-serif;
     text-align: center;
     margin-bottom: 2rem ;
 }
 h2{
     text-align: center;
     margin-top: 1rem;
 }
main{
    width: 100vw;
}
.photoFond>img{
     width: 100%;
     height: 750px;
 }
.container1{
        width: 100%;
        margin: 1rem 0 0 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
 }
.container2{
    width: 100%;
    margin: 1rem 0 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image{
    height: 200px;
    width: 300px;
    cursor: pointer;
}
.valeurs{
    width: 100%;
    height: 600px;
    background-color: #F4F4F4;
    margin-top: 2rem;
}
.container3{
    width: 100%;
    margin: 1rem 0 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nosValeurs{
    border: black solid 1px;
    border-radius: 10px;
    height: 500px;
    width: 200px;
    background: linear-gradient(to top, #c4c4c4, white);
}
h3, p{
    text-align: center;
}

















.scrollToTopBtn {
    background-color: #C4C4C4;
    border: none;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
    
    /* position en bas à droite */
    position: fixed;
    bottom: 80px;
    right: 30px;
    /* le mettre au dessus de tous les autres éléments */
    z-index: 100;
    /* met une opacité */
    opacity: 0;
    /* met un effet */
    transform: translateY(100px);
    /* met une transition */
    transition: all .5s ease
  }
      
  .showBtn {
    opacity: 1;
    transform: translateY(0)
  }
