body{
    background-color: #525252;
}
.container{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    background-color: #CCCCCC;
    
}
