@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

@font-face {
    font-family:"Montserrat";
    src:url("../../fonts/Montserrat-Regular.ttf");
}
body{
    background-color: #525252;
    font-family:"Montserrat";
}
img {
    vertical-align: middle;
    width: 70px;
    height: 70px;
}

.section-logo-bas{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    
}
.nom-logo{
    margin-top: 20px;
	font-family: Montserrat;
    margin-right: 100px;
}
a{
    text-decoration: none;
    color: white;
}