@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
body{
    background-color: #525252;
}
img {
    vertical-align: middle;
    width: 70px;
    height: 70px;
}

.section-logo-bas{
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    
}
.nom-logo{
    margin-top:50px ;
	font-family:Montserrat;
    margin-right: 100px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}