body{
    background-color: #525252;
}
img {
    vertical-align: middle;
    width: 70px;
    height: 70px;
}

.section-logo-bas{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
p{
    margin-top:90px ;
	font-family:Montserrat;
    margin-right: 100px;
}
a{
    text-decoration: none;
    color: white;
}