{% extends "base.html.twig" %}

{% block title %}Créer une annonce
{% endblock %}

{% block body %}
	<nav class="navbar navbar-dark bg-dark">
		<img src="">
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="">Accueil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Se connecter</a>
			</li>
		</ul>
	</nav>
	<h1>Créer une annonce</h1>

	<form>
		<div class="mb-3">
			<label for="formFileMultiple" class="form-label"></label>
			<input class="form-control" type="file" id="formFileMultiple" multiple>
		</div>
		<div class="form-group">
			<label for="titre">nom du logement</label>
			<input type="text" class="form-control" name="titre-annonce" id="titre-annonce" aria-describedby="titre-help" placeholder="Titre" autofocus>
			<small id="titre-help" class="form-text text-muted">Nom du logement</small>
		</div>
		<div class="form-group">
			<label for="adresse">adresse du logement</label>
			<input type="text" class="form-control" name="adresse-logement" id="adresse-logement" aria-describedby="adresse-help" placeholder="adresse du logement" autofocus>
			<small id="adresse-help" class="form-text text-muted">Adresse du logement</small>
		</div>
		<div class="form-group">
			<label for="type">Type de logement</label>
			<input type="text" class="form-control" name="type" id="type-annonce" aria-describedby="type-help" placeholder="type du logement" autofocus>
			<small id="type-help" class="form-text text-muted">Type du logement</small>
		</div>
		<div class="form-group">
			<label for="superficie">Surperficie</label>
			<input type="text" class="form-control" name="superficie" id="superficie-annonce" aria-describedby="superficie-help" placeholder="superficie du logement" autofocus>
			<small id="superficie-help" class="form-text text-muted">superficie du logement</small>
		</div>
		<div class="form-group">
			<label for="superficie">Nombre de piece</label>
			<input type="text" class="form-control" name="superficie" id="nombre_piece-annonce" aria-describedby="nombre_piece-help" placeholder="Nombre de piece " autofocus>
			<small id="nombre_piece-help" class="form-text text-muted">Nombre de piece
			</small>
		</div>
		<div class="form-group">
			<label for="loyer">loyer</label>
			<input type="text" class="form-control" name="loyer" id="loyer-annonce" aria-describedby="loyer-help" placeholder="loyer du logement" autofocus>
			<small id="loyer-help" class="form-text text-muted">loyer du logement</small>
		</div>
		<div class="form-group">
			<label for="caution">caution</label>
			<input type="text" class="form-control" name="caution" id="caution-annonce" aria-describedby="caution-help" placeholder="caution du logement" autofocus>
			<small id="caution-help" class="form-text text-muted">caution du logement</small>
		</div>
    	<div class="form-group">
			<label for="date_debut">date de debut</label>
			<input type="text" class="form-control" name="date_debut" id="date_debut-annonce" aria-describedby="date_debut-help" placeholder="date debut " autofocus>
			<small id="date_debut-help" class="form-text text-muted">date de debut</small>
		</div>
        	<div class="form-group">
			<label for="durée du bail">durée du bail</label>
			<input type="text" class="form-control" name="durée du bail" id="durée_du_bail-annonce" aria-describedby="durée_du_bail-help" placeholder="durée du bail du logement" autofocus>
			<small id="durée_du_bail-help" class="form-text text-muted">durée du bail du logement</small>
		</div>


		<div class="form-check">
			<h5>cave</h5>
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
			<label class="form-check-label" for="flexRadioDefault1">
				oui
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
			<label class="form-check-label" for="flexRadioDefault2">
				non
			</label>
		</div>
        	<div class="form-check">
			<h5>Place de parking</h5>
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
			<label class="form-check-label" for="flexRadioDefault1">
				oui
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
			<label class="form-check-label" for="flexRadioDefault2">
				non
			</label>
		</div>
		<div class="form-check">
			<h5>Meublée</h5>
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
			<label class="form-check-label" for="flexRadioDefault1">
				oui
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
			<label class="form-check-label" for="flexRadioDefault2">
				non
			</label>
		</div>
		<div class="form-check">
			<h5>Ascenceur</h5>
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
			<label class="form-check-label" for="flexRadioDefault1">
				oui
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
			<label class="form-check-label" for="flexRadioDefault2">
				non
			</label>
		</div>
        	<div class="form-check">
			<h5>Gardien</h5>
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
			<label class="form-check-label" for="flexRadioDefault1">
				oui
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
			<label class="form-check-label" for="flexRadioDefault2">
				non
			</label>
		</div>
        	<div class="form-check">
			<h5>Balcon</h5>
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
			<label class="form-check-label" for="flexRadioDefault1">
				oui
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
			<label class="form-check-label" for="flexRadioDefault2">
				non
			</label>
		</div>
        	<div class="form-check">
			<h5>cuisine équipée</h5>
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
			<label class="form-check-label" for="flexRadioDefault1">
				oui
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
			<label class="form-check-label" for="flexRadioDefault2">
				non
			</label>
		</div>
        	<div class="form-check">
			<h5>toilette séparée</h5>
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
			<label class="form-check-label" for="flexRadioDefault1">
				oui
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
			<label class="form-check-label" for="flexRadioDefault2">
				non
			</label>
		</div>
        	<div class="d-grid gap-2">
				<button class="btn btn-primary" type="button">créer annonce</button>
			</div>

	</form>


</div>{% endblock %}
