{% extends "base.html.twig" %}

{% block title %}Créer une annonce | LouezMieux.
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('css/creer-annonce.css') }}">
{% endblock %}

{% block content %}


	<main class="w-100 d-flex flex-column justify-content-start align-items-center center-block text-center text-white">
		<h1 class="my-5">
			Créer une annonce
		</h1>

		<div class="form-group col-md-4 d center-block text-center">
			{{ form( form, { 'action': path('creer_annonce') } ) }}
				<div></main>


			{% endblock %}
